In [5]:
import argparse
from pydoc import describe
from tkinter import W
# from torch_geometric.data import HeteroData
import torch
import numpy as np
from tqdm import tqdm
import os.path as osp
import pickle as pkl
import pandas as pd

In [9]:
reader = pd.read_csv('/data1/competition/icdm/data/icdm2022_session1_edges.csv',
               names=["source_id", "dest_id", "source_type", "dest_type", "edge_type"])

In [11]:
source_df = reader[["source_id","source_type"]]
dest_df = reader[["dest_id","dest_type"]]

In [12]:
len(dest_df),len(source_df)

(157814864, 157814864)

In [13]:
dest_df.drop_duplicates(subset=None, keep='first',inplace=True)

/tmp/ipykernel_29051/504002376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dest_df.drop_duplicates(subset=None, keep='first',inplace=True)

In [14]:
source_df.drop_duplicates(subset=None, keep='first',inplace=True)

/tmp/ipykernel_29051/740065992.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  source_df.drop_duplicates(subset=None, keep='first',inplace=True)

In [18]:
len(dest_df),len(source_df)

(13806619, 13806619)

In [19]:
dest_df.columns = ["id","type"]
source_df.columns = ["id","type"]

In [20]:
len(dest_df),len(source_df)

(13806619, 13806619)

In [21]:
temp = pd.concat([source_df,dest_df])

In [22]:
temp2 = temp.drop_duplicates(subset=None, keep='first',inplace=False)

In [23]:
len(temp2)

13806619

In [24]:
temp2["label"] = temp2["type"].apply(lambda x:1 if x=="item" else 0)

/tmp/ipykernel_29051/1354019975.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2["label"] = temp2["type"].apply(lambda x:1 if x=="item" else 0)

In [26]:
temp2 = temp2[["id","type","label"]]

In [27]:
temp2.to_csv("/data1/competition/icdm/data/session1_label_type.csv",index=0,header=0)

In [2]:
import pandas as pd

In [3]:
a = pd.read_csv("/data1/competition/icdm/data/session1_label_type.csv",header=None)

In [17]:
a = a.drop(columns=[1])

In [4]:
a

                 0  1
0               23  0
1              125  0
2              417  0
3              869  0
4             1333  0
...            ... ..
13806614  13701666  0
13806615  13717981  0
13806616  13738085  0
13806617  13763111  0
13806618  13772666  0

[13806619 rows x 2 columns]

In [19]:
a.to_csv("/data1/competition/icdm/data/session1_label_type.csv",index=0,header=0)

#### temp

In [29]:
temp = pd.read_csv("/data1/competition/icdm/data/icdm2022_session1_edges.csv",
                  header =None)

In [30]:
temp.head()

      0        1  2     3    4
0    23  7261518  b  item  A_1
1   125  9878381  b  item  A_1
2   417  9794228  f  item    B
3   869   379246  a     f  G_1
4  1333  1183959  f     a    G

In [31]:
a = temp[[2,3,4]]

In [33]:
a.drop_duplicates()

          2     3    4
0         b  item  A_1
2         f  item    B
3         a     f  G_1
4         f     a    G
51        a     e  H_1
77        f     d    C
83        f     c    D
232       c     f  D_1
288       f     e    F
312    item     f  B_1
444    item     b    A
41434     e     f  F_1
41448     e     a    H
41831     d     f  C_1