In [1]:
import argparse
from pydoc import describe
from tkinter import W
# from torch_geometric.data import HeteroData
import torch
import numpy as np
from tqdm import tqdm
import os.path as osp
import pickle as pkl
import pandas as pd

In [2]:
reader2 = pd.read_csv('/data1/competition/icdm/data/icdm2022_session2_edges.csv',
               names=["source_id", "dest_id", "source_type", "dest_type", "edge_type"])

#### preprocess

In [4]:
source_df = reader2[["source_id","source_type"]]
dest_df = reader2[["dest_id","dest_type"]]

In [5]:
len(dest_df),len(source_df)

(120691444, 120691444)

In [6]:
dest_df.drop_duplicates(subset=None, keep='first',inplace=True)

/tmp/ipykernel_30437/504002376.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dest_df.drop_duplicates(subset=None, keep='first',inplace=True)

In [7]:
source_df.drop_duplicates(subset=None, keep='first',inplace=True)

/tmp/ipykernel_30437/740065992.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  source_df.drop_duplicates(subset=None, keep='first',inplace=True)

In [8]:
len(dest_df),len(source_df)

(10284026, 10284026)

In [10]:
dest_df.columns = ["id","type"]
source_df.columns = ["id","type"]

In [11]:
temp = pd.concat([source_df,dest_df])

In [12]:
len(temp)

20568052

In [13]:
temp2 = temp.drop_duplicates(subset=None, keep='first',inplace=False)

In [14]:
len(temp2)

10284026

In [15]:
temp2["label"] = temp2["type"].apply(lambda x:1 if x=="item" else 0)

/tmp/ipykernel_30437/1354019975.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  temp2["label"] = temp2["type"].apply(lambda x:1 if x=="item" else 0)

In [16]:
temp2 = temp2[["id","type","label"]]

In [17]:
temp2.to_csv("/data1/competition/icdm/data/session2_label_type.csv",index=0)

#### look up

In [6]:
reader2.edge_type.unique()

array(['A_1', 'G', 'A', 'B', 'G_1', 'F', 'H_1', 'D', 'C', 'D_1', 'B_1',
       'F_1', 'H', 'C_1'], dtype=object)

In [4]:
len(reader2)

120691444

In [ ]:
reader2[reader2["source_id"]=="9227048"]

In [1]:
import pandas as pd

In [2]:
a = pd.read_csv("/data1/competition/icdm/data/session2_label_type.csv")

In [3]:
a

                id type  label
0               27    b      0
1               51    b      0
2              107    b      0
3              132    f      0
4              174    b      0
...            ...  ...    ...
10284021  10216374    e      0
10284022  10228204    e      0
10284023  10235429    e      0
10284024  10238093    e      0
10284025  10250106    e      0

[10284026 rows x 3 columns]

In [4]:
a.to_csv("/data1/competition/icdm/data/session2_label_type.csv",index=0,header=0)